/*colors*/
/*text*/
/*bg*/
/*border*/
/*button & decoration*/
/*fill*/
body {
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
.address {
  padding: 26px 0 0 0;
}

.address--darker {
  background-color: #f2f2f2;
}

.address__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.address__link {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
}

.address__map {
  width: 100%;
  display: block;
}

.button {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 10px 109px;
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 94px;
}

.logo-htmlacademy__link {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;
}

.main-footer {
  background-color: #f2f2f2;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__link {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  background-color: rgba(104, 183, 56, 0.85);
  position: relative;
}
.hero::after {
  content: " ";
  width: 100%;
  height: 302px;
  background-image: url("../img/cat-background-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.hero__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.hero__description {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero__button {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 44px;
}

.programs {
  background-color: #ffffff;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item {
  margin: 0 0 20px;
  padding: 20px 20px 18px;
  background-color: #f2f2f2;
}

.programs__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__description {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.programs__link {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.advantages {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  margin-bottom: 24px;
}

.advantages__description {
  margin: 0;
  padding: 0 20px 0 80px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example {
  background-color: #eaeaea;
  padding: 25px 0 40px;
}

.example__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__item-name {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #444444;
}

.example__item-value {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example__total {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.application__order {
  border: none;
}

.application__radio {
  border: none;
}

.comment__fieldset {
  border: none;
}

.comment__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.comment__field {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.contacts__fieldset {
  border: none;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.contacts__text {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.contacts__field {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.control__label {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.form__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.form__description {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.form__button {
  padding: 7px 44px;
}

.form__meta {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.order__text {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.order__field {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.radio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card__link {
  text-decoration: none;
}

.card__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.card__desc {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-suplement__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.catalog-suplement__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-suplement__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.catalog-suplement__desc-suplement {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog {
  padding: 27px 0 0;
}

.catalog__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox__fieldset {
  border: none;
}

.checkbox__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.desc-suplement__name {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.desc-suplement__value {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.desc__name {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.desc__value {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.pagination__link {
  text-decoration: none;
}

.pagination__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.pagination__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.promo {
  margin: 35px 0 35px;
  background-color: #68b738;
}

.promo__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

/*all pages*/
/*index*/
/*form*/
/*catalog*/
/*# sourceMappingURL=style.css.map */